body {
    font-family: Arial, sans-serif;
    background-color:#FF4500;
  }
  
  h1 {
    color: navy;
    font-family: Georgia, serif;
  }
  
  table {
    border-collapse: collapse;
  }
  
  tr th, tr td {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
  }
  
  button {
    font-family: Arial, sans-serif;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
    
  a {
    color: #007bff;
  }
  
  #o {
    font-size: 100px;
    color: orange;
  }
  
  #s {
    font-size: 100px;
    color: black;
  }
  
  #u {
    font-size: 100px;
    color: grey;
  }
  